.container {
  border-bottom: 1px solid white;
  & > ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  & > * {
    margin: 0 0.5rem;
  }
  & > :first-child {
    margin-top: 0.5rem;
  }
  & > :last-child {
    margin-bottom: 0.5rem;
  }
}
