.container {
  border-bottom: 1px solid white;
  & > ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
