.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  & > :first-child {
    flex: 1;
  }
}
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0.5rem;
}
.sidebar-container,
.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & > :first-child {
    flex: 0 0 75px;
  }
  & > :last-child {
    flex: 1;
  }
  & > * {
    padding: 0.5rem;
  }
}
.content-wrapper {
  padding: 1rem;
}
.footer-wrapper {
  grid-column: 1 / -1;
  padding: 0.5rem;
}
