.wrapper {
  max-width: 1400px;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.container {
  height: inherit;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: var(--gap-lg);
  & > * {
    height: max(400px, 90%);
  }
}
